<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
	<add name="CheerfulGiver" connectionString="Server=.\SQLEXPRESS;Database=CheerfulGiver;Trusted_Connection=True;TrustServerCertificate=True;" />
</connectionStrings>

<appSettings>
	  <add key="BlackbaudRedirectUri" value="__SET_LOCALLY__" />
	<add key="BlackbaudSubscriptionKey" value="__SET_LOCALLY__" />
	<add key="TokenPassphrase" value="__SET_LOCALLY__" />
	<add key="BlackbaudClientId" value="__SET_LOCALLY__" />
	<add key="BlackbaudClientSecret" value="__SET_LOCALLY__" />
	<add key="RadioFunds" value="RADIO;NT;RBF;WCRH;" />
	<add key="SponsorshipOptions" value="Half-day AM=1000;Half-day PM=1000;Full day=2000" />
</appSettings>
</configuration>
