<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
	<add name="CheerfulGiver" connectionString="Server=.\SQLEXPRESS;Database=CheerfulGiver;Trusted_Connection=True;TrustServerCertificate=True;" />
</connectionStrings>

<appSettings>
	<add key="TokenPassphrase" value="WCRH90.5FMTheCompass" />
	<add key="BlackbaudClientId" value="5e25d81f-82a3-4bcf-97ed-1cea54d5172e" />
	<add key="BlackbaudClientSecret" value="Hj0Vyt4tyqF9N3SNlWEhCRM/qq5OXuQC9mHI59bfeUI=" />
	<!-- optional -->
	<add key="BlackbaudSubscriptionKey" value="b5ba8b93e7844a27b54432ce3d4df680" />
</appSettings>
</configuration>
